         
         .btn-grad {
            background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            font-family: cursive;
            font-size: 35px;

          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

         .btn-success:hover{
            background-color: blueviolet;
            transform: scale(2.0);
         }

         canvas{
            animation-name: demo;
            animation-duration: 4s;
            animation-iteration-count: infinite;
         }

         @keyframes demo {
            from {box-shadow: 2px 2px 40px crimson;}
            to {box-shadow: 2px 2px 40px rgb(77, 220, 20);}

         }

                  
         .btn-grad2 {
            background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad2:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         